/* body {
    background-image: url(./rss/7-78625_high-resolution-star-wars-space.jpg);
} */

header {
  font-size: 25px;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  width: 100%;
}

.image {
  padding-bottom: 0;
  margin-bottom: -1rem;
  height: 8rem;
  width: 8rem;
  /* border: 2px solid red; */
}

.customer {
  /* border: 2px solid blue; */
  text-align: center;
  margin-left: 2rem;
  right: 2rem;
}

.name {
  /* border: 2px solid brown; */
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 0.4rem;
}

.image {
  padding: 1rem;
  border-radius: 39% 61% 37% 63% / 41% 63% 37% 59%;
}

.email {
  /* border: 2px solid red; */
  color: grey;
  padding-bottom: 0.4rem;
  font-size: 15px;
}

.street {
  /* border: 2px solid purple; */
  font-size: 15px;
}

.state {
  padding-bottom: 0.4rem;
  font-size: 15px;
}

.dob {
  font-size: 15px;
}

.registered {
  font-size: 15px;
}
